<!--
  Generated template for the AssignNewcomerPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Select for {{navParams.data.name}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list>
      <ion-list-header icon-left color="light"><ion-icon name="body"></ion-icon>Assign for Followup
        <button ion-button *ngIf="navParams.data.current!=''" item-end outline icon-left (click)="removeAssign()"><ion-icon name="trash"></ion-icon>Remove</button>
      </ion-list-header>
      <ng-container *ngFor="let member of members | async">
          <ion-item *ngIf="member.auth=='Member'">
              {{member.name}} ({{member.email}})
              <button *ngIf="(summary|async)?.followup_id!=member.key;else display_assigned" ion-button outline item-end (click)="assignMember(member)">Assign</button> 
              <ng-template #display_assigned><p>Assigned</p></ng-template>  
          </ion-item>
      </ng-container>
  </ion-list>
</ion-content>
