<!-- Generated template for the ContactListComponent component -->
<ng-container *ngIf="(matchDb.communityState | async)==null">
  <h2>Welcome to the New Friends App!</h2>
  <p>
    Please Join a Community to see your New comers!
  </p>
</ng-container>
<ng-container *ngIf="(matchDb.communityState | async)!=null">
  <ion-list>
    <ion-item-sliding *ngFor="let person of newcomersSummary | async">
      <ion-item  (click)="showDetail(person.details_key, person.key)" detail-push>
        <h2>{{person.name}} </h2>
        <p>Email: {{person.email}}</p>
        <p>Tel: {{person.phone}}</p>
        <ion-icon small [color]="getStateColor(person)" [name]="getStateIcon(person)" item-end></ion-icon>
      </ion-item>
      <ion-item-options side="right">
        <button item-end ion-button  (click)="assignStatus($event, person)"color="grey">
          <ion-icon name="git-branch"></ion-icon>
          Status
        </button>
        <button item-end (click)="showActions($event, person)" ion-button color="primary">
          <ion-icon name="call"></ion-icon>
          Contact
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ng-container>
