<!-- Generated template for the ContactListComponent component -->
<ng-container *ngIf="(matchDb.communityState | async)==null">
  <h2>Welcome to the New Friends App!</h2>
  <p>
    Please Join a Community to see your New comers!
  </p>
</ng-container>
<ng-container *ngIf="(matchDb.communityState | async)!=null">
  <ion-list>
    <ion-item-sliding *ngFor="let person of newcomersSummary | async">
      <ion-item  (click)="showDetail(person.details_key, person.key)" detail-push>{{person.name}} 
        <ion-row>
          <ion-col text-left>
            <p>Email:{{person.email}}</p>
          </ion-col>
          <ion-col text-left>
            <p>Tel:{{person.phone}}</p>
          </ion-col>
        </ion-row>
      </ion-item>
      <ion-item-options side="right">
        <button item-end ion-button color="secondary">
          <ion-icon name="alarm"></ion-icon>
          Remind
        </button>
        <button item-end (click)="showActions($event, person)" ion-button color="primary">
          <ion-icon name="call"></ion-icon>
          Contact
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ng-container>
