<!--
  Generated template for the NewcomerDetailsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>{{local_data.name}}</ion-title>
  </ion-navbar>

</ion-header>
<ion-content padding>
  <ion-list>
    <ion-list-header color="light">Details
          <button ion-button icon-left (click)="editNewcomer()" outline item-end>Edit</button>
    </ion-list-header>

    <ion-item>
      <ion-label color="primary">Name</ion-label>
      <ion-input  type="text" [(ngModel)]="local_data.name" text-right></ion-input>
    </ion-item>

    <ion-item>
        <ion-label color="primary">Visited On</ion-label>
        <ion-datetime  readonly displayFormat="DDD D MMM YYYY" [ngModel]="local_data.dateVisited" text-right ></ion-datetime>
    </ion-item>

    <ion-item>
      <ion-label stacked color="primary">Description</ion-label>
      <ion-textarea fz-elastic readonly rows="1" type="text" [ngModel]="local_data.description"></ion-textarea>
    </ion-item>
    <ion-item>
      <ion-label color="primary">Came With</ion-label>
      <ion-input readonly type="text" [ngModel]="local_data.cameWith" text-right></ion-input>
    </ion-item>
    <ion-item>
      <ion-label color="primary">Age</ion-label>
      <ion-input readonly type="text" [ngModel]="local_data.age" text-right></ion-input>
    </ion-item>
    <ion-item>
      <ion-label color="primary">Phone</ion-label>
      <ion-input readonly type="tel" [ngModel]="local_data.phone" text-right></ion-input>
    </ion-item>
    <ion-item>
      <ion-label color="primary">Email</ion-label>
      <ion-input readonly type="email" [ngModel]="local_data.email" text-right></ion-input>
    </ion-item>
    <ion-item>
      <ion-label color="primary">Religion</ion-label>
      <ion-input readonly type="text" [ngModel]="local_data.religion" text-right></ion-input>
    </ion-item>
    <ion-item>
      <ion-label color="primary">Purpose for Visit</ion-label>
      <ion-input readonly type="text" [ngModel]="local_data.purpose" text-right></ion-input>
    </ion-item>
    <ion-item>
      <ion-label color="primary">Visited Before?</ion-label>
      <ion-input readonly type="text" [ngModel]="local_data.visitedBefore" text-right></ion-input>
    </ion-item>

    <ion-list-header color="light">Follow-Up Indications
        <button ion-button icon-left (click)="editNewcomer()" outline item-end>Edit</button>
    </ion-list-header>
    <ion-item *ngFor="let group of groups">
      <ion-icon item-start name="checkbox" small></ion-icon>
      <ion-label>{{group.desc}}</ion-label>
    </ion-item>

    <ion-list-header color="light">Followup Assigment
      
    </ion-list-header>
    <ion-item>
        <button ion-button icon-left (click)="editAssignment()" outline item-end>Edit</button>
      <ion-label color="primary">Assigned To</ion-label>
      <ion-input readonly type="text" [ngModel]="summary.followup_name" text-center></ion-input>
    </ion-item>

    <ion-item>
      <ion-label color="primary">Status</ion-label>
      <ion-input readonly type="text" [ngModel]="getFollowupState()" text-center></ion-input>
      <button ion-button icon-left (click)="editStatus()" outline item-end>Edit</button>
    </ion-item>

    <ion-list-header color="light">Notes</ion-list-header>
  </ion-list>

  <ion-card *ngFor="let note of notes">
    <ng-container *ngIf="(editNoteKey | async) != note.key">
      <ion-card-content>
        <div class="text-content">{{note.text}}</div>
      </ion-card-content>
      <ion-row>
        <ion-col center text-center>
          <ion-note>
            {{note.name}}
          </ion-note>
        </ion-col>
        <ion-col center text-center>
          <ion-note>
            {{note.date | timeAgo}}
          </ion-note>
        </ion-col>
        <ng-container *ngIf="(authData.profile | async)?.uid == note.uid">
          <ion-col>
            <ion-buttons end>
              <button ion-button icon-left clear small (click)="editNote(note)">
                <ion-icon name="create"></ion-icon>
                <div>Edit</div>
              </button>
            </ion-buttons>
          </ion-col>
        </ng-container>
      </ion-row>
    </ng-container>

    <ng-container *ngIf="(editNoteKey | async) == note.key">
      <ion-card-content>
        <ion-item>
            <ion-textarea fz-elastic #editElement clearInput="true" type="text" [ngModel]="note.text"></ion-textarea>
        </ion-item>
      </ion-card-content>
      <ion-row>
        <ion-col center text-center>
          <button ion-button icon-left clear small (click)="deleteNote(note.key)">
            <ion-icon name="trash"></ion-icon>
            <div>Delete</div>
          </button>
        </ion-col>
        <ion-col>
          <button ion-button icon-left clear small (click)="modifyNote(editElement, note.key)">
            <ion-icon name="send"></ion-icon>
            <div>Modify</div>
          </button>
        </ion-col>
        <ion-col>
          <button ion-button icon-left clear small (click)="cancelNote()">
            <ion-icon name="close"></ion-icon>
            <div>Cancel</div>
          </button>
        </ion-col>
      </ion-row>
    </ng-container>
  </ion-card>

  <ion-card>
      <ion-card-content>
        <ion-item>
            <ion-textarea fz-elastic #commentElement placeholder="Type in followup comments here" clearInput="true" type="text"></ion-textarea>
        </ion-item>
      </ion-card-content>
      <ion-buttons end>
          <button ion-button icon-left clear small (click)="submitNote(commentElement)">
              <ion-icon name="send"></ion-icon>
              <div>Submit</div>
            </button>
      </ion-buttons>
  </ion-card>
</ion-content>