<!--
  Generated template for the SettingsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>{{ (authData.authState | async)?.displayName }}'s Settings</ion-title>
    <ion-buttons end>
      <button ion-button icon-left (click)="logoutUser()"><ion-icon name="log-out"></ion-icon>Logout</button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list>
    <ion-list-header color="light">Account</ion-list-header>
    <ng-container *ngIf="((matchDb.communityState | async)?.communityName)!=null">
        <ion-item>
            <ion-label color="primary" stacked>Joined Community</ion-label>
            <ion-label>{{(matchDb.communityState | async)?.communityName}}</ion-label>
            <button ion-button outline item-end (click)="communityListPrompt()">Switch</button> 
        </ion-item>
        <ion-item>
            <ion-label color="primary" stacked>Membership Status</ion-label>
            <ion-label>{{(matchDb.communityState | async)?.joinState}}</ion-label>
        </ion-item>
    </ng-container>
    <ng-container *ngIf="((matchDb.communityState | async)?.communityName)==null">
        <ion-item>
            <ion-label color="primary" stacked>Joined Community</ion-label>
            <ion-label>&nbsp;</ion-label>
            <button ion-button outline item-end (click)="communityListPrompt()">Join</button> 
        </ion-item>
        <ion-item>
            <ion-label color="primary" stacked>Membership Status</ion-label>
            <ion-label>&nbsp;</ion-label>
        </ion-item>
    </ng-container>
    <ion-list-header color="light">Notifications</ion-list-header>
    <ion-item>
        <ion-label>Newcomer Added</ion-label>
        <ion-toggle item-end  (ionChange)="matchDb.updateNotifyNew(!matchDb.newcomerNotify.getValue())" [ngModel]="matchDb.newcomerNotify | async"></ion-toggle>
    </ion-item>
    <ion-item>
        <ion-label>Newcomer Assigned to Me</ion-label>
        <ion-toggle item-end  (ionChange)="matchDb.updateNotifyAssigned(!matchDb.newcomerAssigned .getValue())" [ngModel]="matchDb.newcomerAssigned | async"></ion-toggle>
    </ion-item>
    <ion-list-header color="light">Administration</ion-list-header>
    <ion-item>
      <ion-label color="primary" stacked>Superadmin Status</ion-label>
      <ion-label>{{((authData.profile | async)?.superadmin)?'Superadmin':'Member'}}</ion-label>
      <button ion-button outline item-end [disabled]="!(authData.profile | async)?.superadmin" (click)="communityPrompt()">Add Community</button>
    </ion-item>
    <ng-container *ngIf="(authData.profile | async)?.superadmin" >
        <ion-list-header color="light">Membership Approval</ion-list-header>
        <ion-item *ngFor="let permission of permissions | async | memberFilter:'Pending'">
            <ion-label>{{permission.name}} ({{permission.email}})</ion-label>
            <button ion-button outline item-end (click)="memberAction(permission)">Approve</button>    
        </ion-item>
        <ion-list-header color="light">Member Management</ion-list-header>
        <ion-item *ngFor="let permission of permissions | async | memberFilter:'Member'">
            <ion-label>{{permission.name}} ({{permission.email}})</ion-label>
            <button ion-button outline item-end (click)="memberAction(permission)">Remove</button>    
        </ion-item>
    </ng-container>
  </ion-list>
</ion-content>
